
<div class="overflow-hidden border border-gray-200 md:rounded-lg">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500">
          Title
        </th>

        <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
          Status
        </th>

        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
          Submited At
        </th>

        <th scope="col" class="relative py-3.5 px-4">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @verification_requests.order(created_at: :desc).each do |verification_request| %>
        <%= render "verification_requests/request_row", verification_request: verification_request %>
      <% end %>
    </tbody>
  </table>
</div>